﻿
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div id="mainAdminContainer">
    <h3>Admin Dashborad</h3>

</div>


<div class="card-footer" id="divForDataTable" hidden>
    <table class="table table-bordered" id="categoryDatatable">
        <thead>
            <tr>
                <th>Category Names</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/Category/Category.js"></script>
}