﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | LoremCart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A Practice e-commerce website with .Net Core" name="description" />

    <!-- App favicon -->
    <link rel="icon" href="~/images/favicon.ico">


    <!-- App css -->
    @*<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

</head>

<body>
    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                <span>
                    <img src="~/images/ecom_logo.png" alt="logo-small" class="logo-sm">
                </span>
            </a>
        </div>
        <!--end logo-->
        <!-- Navbar -->
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-nav float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <h6 class="dropdown-item-text">
                            Notifications (18)
                        </h6>
                        <div class="slimscroll notification-list">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
                                <p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                        </div>
                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>


                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }


                @*<li class="dropdown pr-1">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="../assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle" />
                            <span class="ml-1 nav-user-name hidden-sm">Arafat <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted mr-2"></i> My Wallet</a>
                            <a class="dropdown-item" href="#"><i class="dripicons-gear text-muted mr-2"></i> Settings</a>
                            <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                        </div>
                    </li>*@
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <button class="button-menu-mobile nav-link waves-effect waves-light">
                        <i class="dripicons-menu nav-icon"></i>
                    </button>
                </li>
                <li class="hide-phone app-search">
                    <form role="search" class="">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fas fa-search"></i></a>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->

    <div class="page-wrapper">
        <!-- Left Sidenav -->
        <div class="left-sidenav">
            <ul class="metismenu left-sidenav-menu">

                @*<li>
                        <a href="javascript: void(0);"><i class="ti-bar-chart"></i><span>Analytics</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Customers</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Reports</a></li>
                        </ul>
                    </li>*@

                <li>
                    <a href="javascript: void(0);"><i class="ti-server"></i><span>Category</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" id="categoryDashboard" href="javascript:void(0);"><i class="ti-control-record"></i>Dashboard</a></li>
                        @*<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="ti-control-record"></i>Dashboard</a></li>*@
                        @*<li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Exchange</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>My Wallet</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Calendar</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Crypto News</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>ICO List</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Settings</a></li>*@
                    </ul>
                </li>

                @*<li>
                        <a href="javascript: void(0);">
                            <i class="ti-briefcase"></i>
                            <span>Projects</span>
                            <span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Clients</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Calendar</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Team</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Project</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Task</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Kanban Board</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Invoice</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Chat</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Users</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="ti-shopping-cart-full"></i><span>Ecommerce</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Product List</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Product Detail</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Cart</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Checkout</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="ti-signal"></i><span>CRM</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Contacts</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Opportunities</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Leads</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Customers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="ti-crown"></i><span>UI Kit</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Email <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Inbox</a></li>
                                    <li><a href="javascript:void(0);">Read Email</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Elements <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Bootstrap</a></li>
                                    <li><a href="javascript:void(0);">Animation</a></li>
                                    <li><a href="javascript:void(0);">Avatar</a></li>
                                    <li><a href="javascript:void(0);">Clip Board</a></li>
                                    <li><a href="javascript:void(0);">File Manager</a></li>
                                    <li><a href="javascript:void(0);">Ribbons</a></li>
                                    <li><a href="javascript:void(0);l"><span>Dragula</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Check & Radio</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Advanced UI <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Range Slider</a></li>
                                    <li><a href="javascript:void(0);">Sweet Alerts</a></li>
                                    <li><a href="javascript:void(0);">Nestable List</a></li>
                                    <li><a href="javascript:void(0);">Ratings</a></li>
                                    <li><a href="javascript:void(0);">Highlight</a></li>
                                    <li><a href="javascript:void(0);">Session Timeout</a></li>
                                    <li><a href="javascript:void(0);">Idle Timer</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Forms <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Basic Elements</a></li>
                                    <li><a href="javascript:void(0);">Advance Elements</a></li>
                                    <li><a href="javascript:void(0);">Validation</a></li>
                                    <li><a href="javascript:void(0);">Wizard</a></li>
                                    <li><a href="javascript:void(0);l">Editors</a></li>
                                    <li><a href="javascript:void(0);">Repeater</a></li>
                                    <li><a href="javascript:void(0);l">X Editable</a></li>
                                    <li><a href="javascript:void(0);ml">File Upload</a></li>
                                    <li><a href="javascript:void(0);">Image Crop</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Charts <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Apex</a></li>
                                    <li><a href="javascript:void(0);">Morris</a></li>
                                    <li><a href="javascript:void(0);">Chartist</a></li>
                                    <li><a href="javascript:void(0);">Flot</a></li>
                                    <li><a href="javascript:void(0);">Peity</a></li>
                                    <li><a href="javascript:void(0);">Chartjs</a></li>
                                    <li><a href="javascript:void(0);">Sparkline</a></li>
                                    <li><a href="javascript:void(0);">Jquery Knob</a></li>
                                    <li><a href="javascript:void(0);">JustGage</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Tables <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Basic</a></li>
                                    <li><a href="javascript:void(0);">Datatables</a></li>
                                    <li><a href="javascript:void(0);">Responsive</a></li>
                                    <li><a href="javascript:void(0);">Footable</a></li>
                                    <li><a href="javascript:void(0);">Jsgrid</a></li>
                                    <li><a href="javascript:void(0);">Editable</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Icons <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Material Design</a></li>
                                    <li><a href="javascript:void(0);">Dripicons</a></li>
                                    <li><a href="javascript:void(0);">Font awesome</a></li>
                                    <li><a href="javascript:void(0);l">Themify</a></li>
                                    <li><a href="javascript:void(0);">Typicons</a></li>
                                    <li><a href="javascript:void(0);">Emoji <i class="em em-ok_hand"></i></a></li>
                                    <li><a href="javascript:void(0);">SVG</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Maps <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);">Google Maps</a></li>
                                    <li><a href="javascript:void(0);">Vector Maps</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="ti-control-record"></i>Email Template <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="javascript:void(0);l">Basic Action Email</a></li>
                                    <li><a href="javascript:void(0);">Alert Email</a></li>
                                    <li><a href="javascript:void(0);">Billing Email</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="ti-layers-alt"></i><span>Pages</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Chat</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Contact List</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Tour</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Invoice</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Treeview</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Starter Page</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Blogs</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>FAQs</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Gallery</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="ti-lock"></i><span>Authentication</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Log in</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="ti-control-record"></i>Recover Password</a></li>
                        </ul>
                    </li>*@
            </ul>
        </div>
        <!-- end left-sidenav-->
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div><!-- container -->

            <footer class="footer text-center text-sm-left pl-2">
                &copy; @DateTime.Now.Year Lorem Cart <span class="text-muted d-none d-sm-inline-block float-right pr-2">Crafted with <i class="fas fa-heart text-danger"> </i> by Arafat</span>
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/fontawesome/js/all.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    @*User Interaction custom js*@
    <script src="~/js/Layout/Layout.js"></script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</body>

</html>