﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | LoremCart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A Practice e-commerce website with .Net Core" name="description" />

    <!-- App favicon -->
    <link rel="icon" href="~/images/favicon.ico">


    <!-- App css -->
    @*<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/Horizontal/style.css" rel="stylesheet" />

</head>

<body>

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- Navbar -->
        <nav class="topbar-main">
            <!-- LOGO -->
            <div class="topbar-left">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                    <span>
                        <img src="~/images/ecom_logo.png" alt="logo-small" class="logo-sm">
                    </span>
                </a>
            </div><!--topbar-left-->
            <!--end logo-->
            <ul class="list-unstyled topbar-nav float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <h6 class="dropdown-item-text">
                            Notifications (18)
                        </h6>
                        <div class="slimscroll notification-list">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
                                <p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                        </div>
                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li><!--end notification-list-->

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item pr-4">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item pr-4">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }

                <!--end dropdown-->
                <li class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle nav-link" id="mobileToggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </li> <!--end menu item-->
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">
                <li class="hide-phone app-search">
                    <form role="search" class="">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fas fa-search"></i></a>
                    </form>
                </li>
            </ul><!--end topbar-nav-->
        </nav>
        <!-- end navbar-->
        <!-- MENU Start -->
        <div class="navbar-custom-menu">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">

                        <li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="fas fa-user-tie"></i>
                                <span>Admin Panel</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li><a asp-area="Admin" asp-controller="Administrative" asp-action="Dashboard"><i class="ti-dashboard"></i>Dashboard</a></li>
                                @*<li><a href="javascript:void();"><i class="ti-gift"></i>Products</a></li>
                                <li><a href="javascript:void();"><i class="ti-list"></i>Product List</a></li>
                                <li><a href="javascript:void();"><i class="ti-package"></i>Product Detail</a></li>
                                <li><a href="javascript:void();"><i class="ti-shopping-cart"></i>Cart</a></li>
                                <li><a href="javascript:void();"><i class="ti-credit-card"></i>Checkout</a></li>*@
                            </ul>

                        </li>


                        @*<li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="ti-briefcase"></i>
                                <span>Projects</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li><a href="javascript:void();"><i class="ti-bar-chart-alt"></i>Dashboard</a></li>
                                <li><a href="javascript:void();"><i class="ti-cup"></i>Team</a></li>
                                <li><a href="javascript:void();"><i class="ti-wand"></i>Project</a></li>
                                <li><a href="javascript:void();"><i class="ti-layout-list-thumb"></i>Tasks</a></li>
                                <li><a href="javascript:void();"><i class="ti-move"></i>Kanban Board</a></li>
                                <li><a href="javascript:void();"><i class="ti-comments"></i>Chat</a></li>
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-wand"></i>More Pages</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Clients</a></li>
                                        <li><a href="javascript:void();">Users</a></li>
                                        <li><a href="javascript:void();">Invoice</a></li>
                                        <li><a href="javascript:void();">Calendar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="ti-shopping-cart-full"></i>
                                <span>Ecommerce</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li><a href="javascript:void();"><i class="ti-dashboard"></i>Dashboard</a></li>
                                <li><a href="javascript:void();l"><i class="ti-gift"></i>Products</a></li>
                                <li><a href="javascript:void();"><i class="ti-list"></i>Product List</a></li>
                                <li><a href="javascript:void();"><i class="ti-package"></i>Product Detail</a></li>
                                <li><a href="javascript:void();"><i class="ti-shopping-cart"></i>Cart</a></li>
                                <li><a href="javascript:void();"><i class="ti-credit-card"></i>Checkout</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="ti-signal"></i>
                                <span>CRM</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li><a href="javascript:void();"><i class="ti-home"></i>Dashboard</a></li>
                                <li><a href="javascript:void();"><i class="ti-headphone-alt"></i>Contacts</a></li>
                                <li><a href="javascript:void();"><i class="ti-magnet"></i>Opportunities</a></li>
                                <li><a href="javascript:void();"><i class="ti-user"></i>Leads</a></li>
                                <li><a href="javascript:void();"><i class="ti-id-badge"></i>Customers</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="ti-crown"></i>
                                <span>UI Kit</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-wand"></i>UI Elements</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Bootstrap</a></li>
                                        <li><a href="javascript:void();">Animation</a></li>
                                        <li><a href="javascript:void();">Avatar</a></li>
                                        <li><a href="javascript:void();">Clip Board</a></li>
                                        <li><a href="javascript:void();">File Manager</a></li>
                                        <li><a href="javascript:void();">Ribbons</a></li>
                                        <li><a href="javascript:void();">Dragula</a></li>
                                        <li><a href="javascript:void();">Check & Radio</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-pulse"></i>Advanced UI</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Range Slider</a></li>
                                        <li><a href="javascript:void();">Sweet Alerts</a></li>
                                        <li><a href="javascript:void();">Nestable List</a></li>
                                        <li><a href="javascript:void();">Ratings</a></li>
                                        <li><a href="javascript:void();">Highlight</a></li>
                                        <li><a href="javascript:void();">Session Timeout</a></li>
                                        <li><a href="javascript:void();">Idle Timer</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-receipt"></i>Forms</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Basic Elements</a></li>
                                        <li><a href="javascript:void();">Advance Elements</a></li>
                                        <li><a href="javascript:void();">Validation</a></li>
                                        <li><a href="javascript:void();">Wizard</a></li>
                                        <li><a href="javascript:void();">Editors</a></li>
                                        <li><a href="javascript:void();">Repeater</a></li>
                                        <li><a href="javascript:void();l">X Editable</a></li>
                                        <li><a href="javascript:void();">File Upload</a></li>
                                        <li><a href="javascript:void();l">Image Crop</a></li>
                                    </ul>
                                </li> 
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-pie-chart"></i>Charts</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Apex</a></li>
                                        <li><a href="javascript:void();">Morris</a></li>
                                        <li><a href="javascript:void();">Chartist</a></li>
                                        <li><a href="javascript:void();">Flot</a></li>
                                        <li><a href="javascript:void();">Peity</a></li>
                                        <li><a href="javascript:void();">Chartjs</a></li>
                                        <li><a href="javascript:void();">Sparkline</a></li>
                                        <li><a href="javascript:void();">Jquery Knob</a></li>
                                        <li><a href="javascript:void();">JustGage</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-view-list-alt"></i>Tables </a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Basic</a></li>
                                        <li><a href="javascript:void();">Datatables</a></li>
                                        <li><a href="javascript:void();">Responsive</a></li>
                                        <li><a href="javascript:void();">Footable</a></li>
                                        <li><a href="javascript:void();">Jsgrid</a></li>
                                        <li><a href="javascript:void();">Editable</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-shield"></i>Icons</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();l">Material Design</a></li>
                                        <li><a href="javascript:void();">Dripicons</a></li>
                                        <li><a href="javascript:void();">Font awesome</a></li>
                                        <li><a href="javascript:void();">Themify</a></li>
                                        <li><a href="javascript:void();">Typicons</a></li>
                                        <li><a href="javascript:void();">Emoji</a></li>
                                        <li><a href="javascript:void();">SVG</a></li>
                                    </ul>
                                </li> 
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-map-alt"></i>Maps</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Google Maps</a></li>
                                        <li><a href="javascript:void();">Vector Maps</a></li>
                                    </ul>
                                </li> 
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-email"></i>Email</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Inbox</a></li>
                                        <li><a href="javascript:void();">Read Email</a></li>
                                        <li><a href="javascript:void();">Basic Action Email</a></li>
                                        <li><a href="javascript:void();">Alert Email</a></li>
                                        <li><a href="javascript:void();">Billing Email</a></li>
                                    </ul>
                                </li> 

                            </ul>
                        </li> 

                        <li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="ti-layers-alt"></i>
                                <span>Pages</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li><a href="javascript:void();"><i class="ti-user"></i>Profile</a></li>
                                <li><a href="javascript:void();"><i class="ti-comments"></i>Chat</a></li>
                                <li><a href="javascript:void();"><i class="ti-list"></i>Contact List</a></li>
                                <li><a href="javascript:void();"><i class="ti-clipboard"></i>Starter</a></li>
                                <li class="has-submenu">
                                    <a href="javascript:;"><i class="ti-wand"></i>Extra Pages</a>
                                    <ul class="submenu">
                                        <li><a href="javascript:void();">Tour</a></li>
                                        <li><a href="javascript:void();">Timeline</a></li>
                                        <li><a href="javascript:void();">Invoice</a></li>
                                        <li><a href="javascript:void();">Treeview</a></li>
                                        <li><a href="javascript:void();">Pricing</a></li>
                                        <li><a href="javascript:void();">Blogs</a></li>
                                        <li><a href="javascript:void();">FAQ</a></li>
                                        <li><a href="javascript:void();">Gallery</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:;" class="navbar-link">
                                <i class="ti-lock"></i>
                                <span>Authentication</span>
                            </a>
                            <ul class="submenu submenu-tab">
                                <li><a href="javascript:void();"><i class="ti-shift-right"></i>Log In</a></li>
                                <li><a href="javascript:void();"><i class="ti-pencil"></i>Register</a></li>
                                <li><a href="javascript:void();"><i class="ti-back-right"></i>Recover Password</a></li>
                            </ul>
                        </li>*@
                    </ul>
                </div> <!-- end navigation -->
            </div> <!-- end container-fluid -->
        </div> <!-- end navbar-custom -->
    </div>
    <!-- Top Bar End -->

    <div class="page-wrapper">


        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div><!-- container -->
        </div>
        <!-- end page content -->
        <footer class="footer text-center text-sm-left">
            <div class="boxed-footer">
                &copy; @DateTime.Now.Year LoremCart <span class="text-muted d-none d-sm-inline-block float-right pr-4">Crafted with <i class="fas fa-heart text-danger"></i> by Arafat</span>
            </div>
        </footer>
        <!--end footer-->

    </div>
    <!-- end page-wrapper -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/assets/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/fontawesome/js/all.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <!-- App js -->
    <script src="~/assets/js/app_Horizontal.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>