﻿<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">LoremCart</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Category</a></li>
                    <li class="breadcrumb-item active">Category Dashboard</li>
                </ol>
            </div>
            <h4 class="page-title">Category Dashboard</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="card">
    <div class="card-header d-flex row">
        <a href="javascript:void(0);" id="addNewCategory" class="btn btn-block btn-outline-primary d-flex row justify-content-center align-content-center font-weight-bold" aria-hidden="true" style="width:7.8rem;">Add new<i class="far fa-plus-circle fa-fw fa-2x"></i></a>
    </div>
    <div class="card-body" id="categoryManupulate">

    </div>
</div>


