﻿@model LoremCartCore.Models.ViewModels.CategoryVM


    <form name="categoryForm">
        <input asp-for="Id" hidden/>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-left">Category Name</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="Name" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-left">Category Desciption</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="Description" readonly>
            </div>
        </div>

        @*<div class="col-12 d-flex row justify-content-between">*@
            <div class="col-12 d-flex justify-content-end pt-1">
                <input type="button" class="btn btn-danger ml-2 categoryHideBtn" value="Close" />
            </div>
        @*</div>*@
    </form>