﻿@model LoremCartCore.Models.ViewModels.CategoryVM


    <form name="categoryForm">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-left">Category Name</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="Name" placeholder="Category">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-left">Category Desciption</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="Description" placeholder="Category Description">
            </div>
        </div>


        @*<div class="form-group">
            <label>Category Description</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fad fa-sticky-note"></i></span>
                </div>
                <input type="text" class="form-control" asp-for="Description" placeholder="Category Description">
            </div>
        </div>*@
        <div class="col-12 d-flex row justify-content-between">
            <div class="col-3 d-flex justify-content-start">
                <input type="button" class="btn btn-danger categoryHideBtn" value="Close"/>
            </div>
            <div class="col-9 d-flex justify-content-end pt-1">
                <input type="button" class="btn btn-primary ml-2" id="categoryCreateBtn" value="Save" />
                <input type="reset" class="reset btn btn-danger ml-2" value="Reset" />
            </div>
        </div>
    </form>