﻿
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="categoryContainer">

</div>



@section Scripts{

    <script src="~/assets/js/Category/Category.js"></script>
}