﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my CRUD Example</h1>
    <p>This is an example of CRUD using <b>Bootstrap, Ajax, jQuery & DataTable</b></p>
</div>
